:root {
  // Font
  --ff-primary: "Ubuntu", "Arial", sans-serif;

  // Weights
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;

  // Colors
  --clr-bg: #131214;
  --clr-text: #eae6f2;
  --clr-text-dark: #797979;
  --clr-btn-bg: #b5a1e5;
  --clr-card: #1d1c1f;
  --clr-card2: #272727;
}
