:root {
  // Font
  --ff-primary: "Ubuntu", "Arial", sans-serif;

  // Weights
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;

  // Colors
  --clr-bg: #131214;
  --clr-text: #eae6f2;
  --clr-text-dark: #797979;
  --clr-btn-bg: #b5a1e5;
  --clr-card: #1d1c1f;
  --clr-card2: #272727;

  //   --on-surface: #dddae5;
  //   --on-surface-variant: #7b7980;
  //   --on-surface-variant-2: #b9b6bf;
  //   --outline: #3e3d40;
  //   --bg-aqi-1: #89e589;
  //   --on-bg-aqi-1: #1f331f;
  //   --bg-aqi-2: #e5dd89;
  //   --on-bg-aqi-2: #33311f;
  //   --bg-aqi-3: #e5c089;
  //   --on-bg-aqi-3: #332b1f;
  //   --bg-aqi-4: #e58989;
  //   --on-bg-aqi-4: #331f1f;
  //   --bg-aqi-5: #e589b7;
  //   --on-bg-aqi-5: #331f29;
  //   --white: hsl(0, 0%, 100%);
  //   --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  //   --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  //   --black-alpha-10: hsla(0, 0%, 0%, 0.1);
}
